node_modules
npm-debug.log
pnpm-debug.log

.next
out
dist
build

coverage
.nyc_output
**/*.spec.ts
**/*.spec.tsx
**/*.test.ts
**/*.test.tsx
test
e2e

.vscode
.idea
*.swp
*.swo
.DS_Store

.git
.gitignore
.gitattributes

.github

*.md
!README.md

.env
.env.*
!.env.example

logs
*.log

.prettierrc.json
.prettierignore
eslint.config.mjs
.lintstagedrc.mjs
commitlint.config.js

.temp
.tmp
