.section {
  display: grid;
  justify-items: center;
  align-items: center;
  padding: 150px 0;
}

.reactIcon {
  color: var(--color-background);
  font-size: 16rem;
  animation: float alternate infinite 2000ms ease-in-out;
  filter: drop-shadow(2px 2px 4px var(--color-text));
}

.title {
  text-align: center;
  margin: 64px 0;
  font-size: 4.2rem;
}

.toolsList {
  list-style: none;
  text-align: center;
  display: grid;
  gap: 32px 0;
}

.toolsItem {
  padding: 0 48px;
  width: 270px;
  height: 100px;
  border-radius: 6px;
  background-color: var(--color-background);
  font-size: 2rem;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  position: relative;
}

.toolIcon {
  position: absolute;
  top: 50%;
  right: 32px;
  transform: translateY(-50%);
  font-size: 6rem;
  /* opacity: 0.7; */
}

@media (min-width: 768px) {
  .title {
    font-size: 6rem;
  }

  .toolsList {
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
  }
}

@media (min-width: 1024px) {
  .title {
    font-size: 8rem;
    margin: 72px 0;
  }

  .toolsList {
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
  }
}

@keyframes float {
  from {
    transform: translateY(-20px);
  }

  to {
    transform: translateY(0px);
  }
}
